::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb{
  // border-radius: 100px;
  background-color: rgba(50,50,50,0.3);
}
::-webkit-scrollbar-track{
  // border-radius: 100px;
  background-color: rgba(50,50,50,0.08);
}

.sidebar {
  user-select: none;
}

.sidebar-heading {
  display: flex;
  align-items: center;
  line-height: 16px;
}

.sidebar-heading__arrow {
  flex: 0 0 auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 2px;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}

.sidebar-heading__arrow.down svg {
  transform: rotate(90deg);
}
.sidebar-heading__arrow.right {

}

.sidebar-heading__icon {
  flex: 0 0 auto;

  margin-left: 0px;
  margin-top: 2px;

  width: 20px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-heading__title {
  margin-left: 0px;
}

.icon_folder {

}

.sidebar-links a.sidebar-link {
  display: flex;
  align-items: flex-start;

  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
}

.sidebar-link__icon {
  flex: 0 0 auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 20px;
  height 16px;
}

.sidebar-link__text {
  flex: 1 1 auto;
  margin-left: 0px;
  line-height: 16px;
}


.sidebar
  .sidebar-heading {
    border-left: none 0;
    padding: 4px 0;
  }

  .sidebar-group.is-sub-group > .sidebar-heading {
    padding-left: 20px;
  }

  .sidebar-group.is-sub-group > .sidebar-group-items {
    padding-left: 20px;
  }
  .sidebar-group a.sidebar-link {
    padding-left: 40px;
  }


#app
  .sidebar > .sidebar-links {
    padding: 4px 0;
    height: 100%;
    overflow-y: auto;
  }

.action-icon-group {
  position: absolute;
  z-index: 10;
  right: 4px;
  top: 6px;

  display: flex;
  align-items: center;

  height: 20px;
  line-height: 1;

  .svg-icon {
    display: block;
    margin: 4px auto;
  }

  .action-icon {
    margin: 0 2px;
    width: 22px;
    height: 22px;
    border-radius: 2px;

    &:hover {
      background-color: #dfdfdf;
    }
  }
}

.navbar
  .search-box
    margin-right 8px
    box-sizing border-box

    input
      left: 1rem;
      border-radius 3px
      &::-webkit-input-placeholder
        color: #ccc

    input
      position relative
      padding: 0 0 0 2rem;
      width 0
      border-color transparent
      cursor pointer
      background-position 0.6rem center
      box-sizing border-box
      &:focus
        left 0
        width 12rem
        cursor text
  .home-link
    display inline-flex
    align-items center
    height 'calc(%s - 1px)' % $navbarHeight
    .logo
      margin-right 6px
      height 24px
      min-width auto
      vertical-align unset
      border-radius 3px
    .site-name
      margin-top -4px
      height 24px
      line-height 24px

.text-danger
  color #F56C6C

.text-success
  color #67C23A