[class*="box"] {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  font-size: 12px;;
}
.box-1 {
  background-color: pink;
  transition: all;
  user-select: none;
}

.loading {
  width: 80px;
  height: 80px;
  background: url(../images/loading.svg) no-repeat;
}
.loading-big {
  width: 80px;
  height: 80px;
  background: url(../images/loading-big.svg) no-repeat;
}

.img {
  display: block;
  width: 100px;
  height: 100px;
  background: no-repeat center center;
  background-size: cover;
}

.img-png {
  background-image: url(../images/1.png);
}
.img-jpg {
  background-image: url(../images/1.jpg);
}
.img-gif {
  background-image: url(../images/1.gif);
}