[class*="box"] {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  font-size: 12px;;
}
.box-1 {
  background-color: pink;
  transition: all;
  user-select: none;
}

.loading {
  width: 80px;
  height: 80px;
  background: url(../images/loading.svg) no-repeat;
}
.loading-big {
  width: 80px;
  height: 80px;
  background: url(../images/loading-big.svg) no-repeat;
}