<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>左右布局</title>
</head>
<body>

<div class="box">
  <div class="left">谢谢谢谢谢寻寻寻寻寻寻</div>
  <div class="right">
    <div class="large-box">
      谢谢谢谢谢寻寻寻寻寻寻谢谢谢谢谢寻寻寻寻寻寻谢谢谢谢谢寻寻寻寻寻寻谢谢谢谢谢寻寻寻寻寻寻谢谢谢谢谢寻寻寻寻寻寻
    </div>
  </div>
</div>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .box {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .left {
    flex: 0 0 auto;
    height: 100%;
    background: blue;
  }

  .right {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    background: gray;
  }

  .large-box {
    width: 100%;
    height: 100%;
    background: pink;
  }


</style>

</body>
</html>
